$screen-xs:400px;
$screen-sm:640px;
$mobile:767.98px;
$screen-md:991.98px;
$screen-xl:119.98px;

$color-primary: #000;
$color-secondary: #111;
$gradient-start: #00feba;
$gradient-end: #5b548a;
$text-color: #fff;
$input-bg-color: #ebfffc;
$input-text-color: #555;
$color-black: #000;
$color-white: #ffffff;
$blue-border: #474dbf;


$font-primary:"Rubik";
$font-secondary:"Poppins";
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;
$font-weight-800:800;

$line-height-100:100%;
$line-height-120:120%;
$line-height-140:140%;
$line-height-160:160%;